{% extends 'blog/layout.html' %}

{% block content %}
    <div class="container">
        <div class="jumbotron">
            <h1 class="display-4">{{ blog.title }}</h1>
            <p class="lead">{{ blog.body }}</p>
            <hr class="my-4">
            <p>만든 날짜: {{ blog.pub_date }}</p>
            <a class="btn btn-secondary" href="{% url 'blog:edit' blog.id %}" role="button">수정</a>
            <a class="btn btn-danger" href="{% url 'blog:remove' blog.id %}" role="button">삭제</a>
        </div>
        {% for comment in blog.comments.all %}
        <div class ="jumbotron jumbotron-fluid">
            <div class="container">
                <p class="display-4">{{ comment.comment_text }}</p>
                <a class="btn btn-secondary" href="{% url 'blog:edit_comment' blog.id comment.id %}" role="button">수정</a>
                <a class="btn btn-danger" href="{% url 'blog:remove_comment' blog.id comment.id %}" role="button">삭제</a>

            </div>
        </div>
        {% endfor %}
        <form method="POST">
            {% csrf_token %}
            {{ form }}
            <input class="btn btn-primary" type="submit" value="Submit">
        </form>
    </div>
{% endblock %}