{% extends 'blog/layout.html' %}

{% block content %}
{% for blog in blogs.all %}
<div class="container1">
  <table class="table">
    <thead>
      <tr>
        <th scope="col">pk!</th>
        <th scope="col">Title</th>
        <th scope="col">time</th>
      </tr>
    </thead>
      <br><br><br>
    <tbody>
      <tr>
        <th scope="row">{{ forloop.counter }}</th>
        <td><a href="{% url 'blog:detail' blog.id %}">{{blog.title}}</a></td>
        <td>{{blog.pub_date}}</td>
      </tr>
    </tbody>
  </table>
</div>

{% endfor %}
{% endblock %}